doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='javascripts/youtubesearch.js')
    script(src='javascripts/youtubeplays.js')
    script(src='javascripts/handlebars/handlebars-v4.0.5.js')    
    script(src='javascripts/handlebars/handlebars.runtime-v4.0.5.js')
    script(src='https://apis.google.com/js/client.js?onload=init')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='http://kenwheeler.github.io/slick/css/style.css')
    each handlebar in handlebars
     script(type='handlebars') #{ handlebar.data }
     script(type='text/javascript', src='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
     
     script(src='javascripts/compile_handlebars.js')
  body
    block content
.container
.form-group
  label(for='formGroupExampleInput') Example label
  |  
  input#search.form-control(type='text', placeholder='Example input')
#contend
 #search_result
 #player  	
 
#sortable


  
h2 Responsive Display
#test.slider.responsive
